<table class="table table-striped table table-bordered mx-3 my-3">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Código de Barras</th>
      <th scope="col">Preço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Produto 1</td>
      <td>1234</td>
      <td>R$80</td>
      <td>
        <button type="button" class="btn btn-outline-primary btn-sm mx-3">Editar</button>
        <button type="button" class="btn btn-outline-danger btn-sm">Deletar</button>
      </td>
  </tbody>
</table>